body {
  /*background: url('/images/bg-fancy-pants.jpg');*/
  /*background: linear-gradient(180deg, #3F5EFB 0%, #FC466B 100%);*/
  background-color: #ddd;
  font-family: Roboto;
}

section .has-margin-bottom{
  margin: 0 0 24px;
}

header .navbar,
footer .navbar { min-height: 4em; }
.navbar-item img { max-height: 2rem; }

.project-nav {
  background-color: white;
}
.project-nav .level {
  min-height: 4em;
}

.project-list {
  padding: 48px 0;
}

.project-list .card {
  position: relative;
  overflow: hidden;
}

.project-list .card .card-image {
  padding: 12px;
}

.project-list .card:hover .card-content  {
  height: 82px;
}

.project-list .card .card-content {
  position: absolute;
  bottom: -12px;
  right: 0;
  left: 0;
  height: 0;
  padding: 12px;
  background-color: white;
  transition: height .2s ease;
}
